<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        .t1{
            color: yellow;
            font-size: x-large;
            background-color: black;
            text-align: center;
        }

        .t2{
            text-align: center;
            font-weight: bold;
            line-height: 30px;
            font-size: larger;
            background-color: rgb(238, 236, 236);
        }
    </style>
</head>
<body>
    
</body>
</html>