{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<center>
    <h1>Welcome to Gallery Page</h1>
</center>

<center>
    <table border = "1">
        {% for gal_loop in gal_obj %}
        <tr>
            <td>
                <h3>{{gal_loop.name}}</h3>
            </td>
            <td>
                <figure>
                    <img src="{{gal_loop.img.url}}" width="100" height="100" alt="hi">
                </figure>
            </td>
            <td>
                {{gal_loop.desc}}
            </td>
            <td>
                {% if gal_loop.actions %}
                <div>Special Offer</div>
                {% else %}
                <div>Offer Closed</div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</center>

{% endblock %}